header {
  visibility: hidden;
}
.streamlit-footer {
  display: none;
}
.st-emotion-cache-uf99v8 {
  display: none;
}
div .block-container {
  padding: 0rem !important;
  margin: 0rem !important;
}
div[data-testid="stMainBlockContainer"] {
  padding: 0rem !important;
  margin: 0rem !important;
}
